<b>My Comment Notifications</b>
<table id="notification" cellpadding=10>
	<thead>
	<tr>
		<th>Ticket Number</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	<% @notifications.each do |notification| %>
	<tr>
		<td><%= link_to notification.comment.review.ticket_number,admin_review_path(notification.comment.review.id) %></td>
		<td>A new comment is made on this review</td>
	</tr>
	<% end %>
</tbody>
</table>
<br/>

<% if !@all_notifications.nil? %>
<b>All Comment Notifications</b>
<table id="notification" cellpadding=10>
	<thead>
	<tr>
		<th>Ticket Number</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	<% @all_notifications.each do |notification| %>
	<tr>
		<td><%= notification.comment.review.ticket_number %></td>
		<td>A new comment is made on this review</td>
	</tr>
	<% end %>
</tbody>
</table>
<br/>
<% end %>

