<h4>Hi <%= @agent.preferred_alias%>, </h4>
<p><strong>Customer Support create Agent account for you: </strong></p>
<p>Account Details are- </p>
<p>Email <strong><%= @agent.email%></strong></p>
<p>Temprory password <strong><%= @password%></strong></p>
