<div id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <%= link_to "Home", root_path %>

      <span class="divider">
        <i class="icon-angle-right"></i>
      </span>
    </li>
    <li class="active"><%#=@page_header%></li>
  </ul><!--.breadcrumb-->

  <div id="nav-search" style="display:none;">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
        <i class="icon-search" id="nav-search-icon"></i>
      </span>
    </form>
  </div><!--#nav-search-->
</div>
