<table id="review_notes">
	<thead>
	<tr>
		<th>Name</th>
		<th>Note </th>
	</tr>
	</thead>
	<tbody>
   <% @review_notes.each do |rn| %>
    <tr>
	  <td><%= rn.name %></td>
      <td><%= rn.note %></td>
    </tr>
   <% end %>
   </tbody>
   </table>
<hr/>
