<div class="page-link">
        	<ul>
            	<li><a href="#">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected">My Account</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="max-box">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<%= devise_error_messages! %>
        	<div class="login-box1">
            	<div class="log-headac" style="color:#696969;">Forgotten your password?</div>
                    <div class="login-field-box">
                	<div class="text-box1">Email *</div>
                     <%= f.email_field :email, :autofocus => true  ,:required => true, :class => "field1" %>
                </div>
                <div class="clear"></div>
                   <div class="login-field-box2">
                	     <%= f.submit "Reset Password" , :class=> "btn2"%> 
                  </div>
              </div>
        <% end %>
            <div class="clear"></div>
   </div>



