<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>

<div class="section-two">
          <div class="img-section">
              <h1>I want to make a</h1>
                <ul>
                  <li class="grow"><a href="<%=new_review_url(:review_type=>'compliment')%>"><img src="/assets/compliment.png" alt=""></a></li>
                    <li class="last grow"><a href="<%=new_review_url(:review_type=>'complaint')%>"><img src="/assets/complaint.png" alt=""></a></li>
                </ul>
            </div>
            <%= render :partial =>'reviews/reviews'%>
      
        </div>



				<%#= render :partial =>'reviews/reviews'%>



<!---ad section -->
	<%#= render :partial =>'ads_and_poll'%>
<!-- ad section -->
