<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
 <span class="span6">
    <div class="sectionMid">
        <div class="sectionLeftBottom">

        </div>
				<%#= render :partial =>'reviews'%>
  </div>
</span>
