<%content_for :left do%>
	<span class="span1">
	</span>
<%end%>

<!--Center page-->
<span class="span8">
<div class="sectionMidA">
  <div class="sectionCsr">
    <p><%= raw(@page.try(:description)) %></p>
  </div>
</div>
</span>
