<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/about_left"%>
	</span>
<%end%>

<!--Center page-->
<span class="span7">
<div class="sectionMidA">
  <div class="sectionMidTop">
    <h3><%= @page.try(:title) %></h3>
    <p><%= raw(@page.try(:description)) %></p>
  </div>
</div>
</span>
<span class="span2">
	<div class="sectionRightA">
		<div class="sectionRightAd">
			<p> Quote or Adds? </p>
			<%= raw(@page.try(:quote)) %>
		</div>
	</div>
</span>
