      <%content_for :left do%>
    <span class="span3">
         <%=render :partial=> "application/my_account_left"%>
    </span>
<%end%>

      <div class="poll-big">
        <div class="heading2poll">Poll Results</div>
         <p>Below is a summary of our weekly polls. You are welcome to share these as long you give Xemaxema.com acknowledgement.</p>
            <div class="poll-box">

           <div class="information-new">
                  
                 
                  <div id="container" ></div>
           </div>
              <div class="clear"></div>
           
                
            </div>
       </div>




<script>
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<%=@poll.title%>',
                 style: {
                        color: '#696969',
                        fontSize: '20px',
                        fontFamily: 'andlso'
                    }
            },
            plotOptions: {
            series: {
                color: '#3d89fb'
            }
        },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '13px',
                        fontFamily: 'andlso'
                    }
                }
            },
            yAxis: {
                allowDecimals:false,
                min: 0,
                title: {
                    text: 'No. of Votes',
                    style: {
                        color: '#696969',
                        fontSize: '13px',
                        fontFamily: 'andlso'
                    }
                }
            },
             credits: {
      enabled: false
  },exporting: { enabled: false },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Polls',
                fill: '#fbaf3d',
                data: [
						   <%@poll.options.each do |option|%>
						     ['<%=option.answer%>',<%= option.results.count %>]
                 <%if @poll.options.last != option%>,<%end%>
                <%end%>],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    
</script>
