<% if @ncp %>
<table id="admin_review_xls" >
	<%= render 'common_header_reviews'%>

	<tbody>
	  <% @ncp.flatten.each_with_index.each do |review,i| %>

	     <%= render 'common_reviews', :review => review, :i => i %>
	  <% end %>
	</tbody>	
</table>


<% else %>
<table id="admin_review_xls" >
	<%= render 'common_header_reviews'%>

	<tbody>
	  <% @reviews.flatten.each_with_index.each do |review,i| %>

	     <%= render 'common_reviews', :review => review, :i => i %>
	  <% end %>
	</tbody>	
</table>
<% end %>