<table id="complaints">
	<thead>
		<tr>
			<th>Nature of Complaints</th>
			<th>Total</th>
		</tr>

	</thead>

	<tbody>
		<% @n1.each do |r| %>
		<tr>
			<td><%= r[0] %></td>
			<td><%= r[1] %></td>
		</tr>
		<% end %>

	</tbody>
</table>
</div>