<h4>Poll Results</h4>

<table id="poll_id" >
	<thead>
	  <tr> 
	        <th>Sr. No. </th>
			<th width="10%">Title</th>
			<th width="15%">Option 1</th>
			<th width="10%">Option 2</th>
			<th width="15%">Option 3</th>
			<th width="15%">Option 4</th>
			
	  </tr>
	</thead>

	<tbody>
	  <% @polls.each_with_index.each do |poll,i| %>
	     <td><%= i + 1%></td>
	     <td><%=poll.title rescue nil %></td>
	     <% poll.options.each do |option| %>
		  <td><%=option.answer rescue nil %>
		     <%@result = Result.where('option_id = ?',option.id).count rescue nil%>
		     :&nbsp;<%= @result rescue nil%>&nbsp;vote 
	     <% end %></td>
	  <% end %>
	</tbody>	
</table>