// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tb li.active {
	background-color:#FBAF3F;
}

.box{
	border:3px solid #fff;
	background-color:#FBAF3F;
	padding:10px;
	height: 50px;
	margin-bottom:10px;
	color:#fff;
	text-overflow:ellipsis;
}
.box a{
	color:#fff;
}
