@font-face {
    font-family:corbel;
    src: url(/assets/fonts/corbel.ttf);
}
@font-face {
    font-family:andlso;
    src: url(/assets/fonts/andalus1.ttf);
}



*
{
	margin:0px;
	padding:0px;
}
ul,li
{
	list-style:none;
	border:0px;
}
a
{
	text-decoration:none;
}
img
{
	border:0px;
}

body
{
	margin:0px;
	padding:0px;
	font-family:'corbel';
	font-size:13px;
	background:#ffffff;
}
.clear
{
	clear:both;
}

#main-wrapper
{
	margin:0px auto;
	padding:0px;
	width:1024px;
}
#header-area
{
	margin:0px;
	padding:10px 0px 0px;
	width:1024px;
	height:101px;
}
#logo
{
	margin:0px;
	padding:0px;
	float:left;
	width:160px;
	height:85px;
}
#right-head
{
	margin:0px;
	padding:0px;
	float:right;
	width:280px;
	height:100px;
}
.join-us
{
	margin:0px 0px 0px;
	padding:0px;
	text-align:right;
	font-family:'andlso';
	color:#7b7b7b;
	font-size:16px;
}
.user-box
{
	margin:0px;
	padding:5px 0px 0px 0px;
	width:270px;
	float:right;
}
.user
{
	margin:0px 0px 0px 5px;
	padding:2px 0px 0px 23px;
	float:left;
	width:70px;
	color:#fbaf3d;
	font-family:'corbel';
}
.logout
{
	margin:-1px 0px 0px 0px;
	padding:0px;
	float:left;
	width:90px;
}
.logout a
{
	margin:0px 0px 0px 0px;
	padding:0px 23px 0px;
	color:#ffffff;
	font-family:'andlso';
	font-size:15px;
	background:url(/assets/logout-bg.jpg) repeat-x;
	-webkit-box-shadow: 0px 3px 5px 0px #dadada;
	-moz-box-shadow: 0px 3px 5px 0px #dadada;
	box-shadow: 0px 3px 5px 0px #dadada;
	transition:0.3s ease all;	
}
.logout a:hover
{
	background:url(/assets/logout-bg1.jpg) repeat-x 0px 0px;
	color:#696969;
}

.user2
{
	margin:0px 0px 0px 5px;
	padding:2px 0px 0px 23px;
	float:left;
	width:150px;
	color:#fbaf3d;
	font-family:'corbel';
	text-align:right
}
.user2 a
{
	color:#fbaf3d;
}
.user2 a:hover
{
	color:#696969;
}
.social
{
	margin:0px;
	padding:0px;
	float:right;
}
.social ul
{
	margin-top:-1px;
	padding:0px;
}
.social ul li
{
	margin:0px 0px 0px 4px;
	padding:0px;
	float:left;
}
.social ul li a
{
	transition:0.3s ease all;	
}
.social ul li a:hover
{
	opacity:0.5;
}
.search-box
{
	margin:8px 0px 0px 0px;
	padding:0px;
	width:auto;
	float:right;
	height:25px;
}
.search-box a
{
	transition:0.3s ease all;	
}
.search-box a:hover
{
	opacity:0.5;
}
.search-in
{
	margin:0px;
	padding:0px 0px 0px 7px;
	width:136px;
	height:22px;
	float:left;
	border:#d0d0d0 1px solid;
	font-family:'corbel';
	font-size:14px;
	color:#696969;
}
#response-menu
{
	margin:0px 0px 20px;
	padding:0px;
	width:100%;
	height:37px;
	/*background:url(/assets/menu_bg.png) repeat-x;*/
	
}
#content-area
{
	margin:0px;
	padding:0px;
	width:1024px;
	min-height:300px;
}

.section-one
{
	margin:0px;
	padding:0px;
	width:245px;
	min-height:400px;
	float:left;
}
.reports
{
	margin:0px 0px 5px;
	padding:0px;
	width:245px;
	min-height:200px;
}
.heading1
{
	padding:5px 0px 0px 10px;
	background:url(/assets/menu_bg.png) repeat-x;
	text-align:left;
	width:232px;
	height:32px;
	font-family:'andlso';
	font-size:17px;
	color:#ffffff;
	/*text-shadow: 1px 1px 2px #898989;*/
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}

.reports ul
{
	margin:0px 0px 8px;
	padding:0px 0px 0px 0px;
	width:242px;
	float:left;
}
.reports ul li
{
	margin:8px 0px 0px;
	padding:8px 0px 7px;
	width:100%;
	background:url(/assets/menu-hover.png) repeat-x;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.reports ul li:hover
{
	background:url(/assets/menu_bg.png) repeat-x;
}
.reports ul li.current
{
	background:url(/assets/menu_bg.png) repeat-x;
}
.reports ul li a
{
	margin:0px;
	padding:10px 10px 10px 10px;
	font-family:'andlso';
	font-size:14px;
	font-weight:bold;
	color:#696969;
}
.reports ul li a:hover
{
	color:#ffffff !important;
}
.reports ul li a.current
{
	color:#ffffff !important;
}


.reports2
{
	margin:8px 0px 0px;
	padding:8px 0px 6px 10px;
	width:232px;
	font-family:'andlso';
	font-size:15px;
	font-weight:regular;
	color:#696969;
	background:url(/assets/menu-hover.png) repeat-x;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.reports2:hover
{
	background:url(/assets/menu_bg.png) repeat-x;
	color:#ffffff;
}
.reports2.act
{
	background:url(/assets/menu_bg.png) repeat-x;
	color:#ffffff;
}

.polls
{
	margin:8px 0px 0px;
	padding:0px;
	width:236px;
	height:230px;
	border:#e5e5e5 2px solid;
}
.section-two
{
	margin:0px 0px 0px 1px;
	padding:0px;
	width:530px;
	min-height:400px;
	float:left;
}
.img-section
{
	margin:0px 0px 3px;
	padding:10px 40px;
	width:450px;
	height:247px;
}
.img-section ul
{
	margin:0px;
	padding:0px;
}
.img-section ul li
{
	margin:0px 110px 0px 0px;
	padding:0px;
	float:left;
}
.img-section ul li.last
{
	margin-right:0px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.img-section h1
{
	margin:0px 0px 0px;
	padding:0px;
	font-size:34px;
	color:#fbaf3d;
	font-family:'andlso';
	text-align:center;
	font-weight:bold;
}
.home-grid
{
	margin:0px;
	padding:0px 0px;
	width:530px;
	height:230px;
}
.grid-head-tbl
{
	margin:0px 0px 7px;
	padding:0px;
	background:url(/assets/table-bg.png) repeat-x;
	width:100%;
	height:auto;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.grid-head-tbl td
{
	padding:0px 0px 0px 5px;
	font-family:'andlso';
	font-size:16px;
	color:#ffffff;
}
.grid-tbl
{
	margin:0px 0px 7px 0px;
	padding:0px;
	width:100%;
	height:auto;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	position:relative;
}
.grid-tbl td
{
	padding:0px 0px 0px 5px;
	font-family:corbel;
	font-size:13px;
	color:#696969;
	line-height:13px;
	border-bottom:#dadada 1px solid;
}
.comment-tbl
{
	margin:0px;
	padding:0px;
	margin-left:10px;
}
.comment-tbl td
{
	border:none;
	text-align:left !important;
}
.comment-tbl img
{
	margin:0px 10px 0px 20px;
	padding:0px;
	float:left;
}
.comment-tbl span
{
	font-size:8px;
	color:#fbaf3d;
}
.content{
	overflow: auto;
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 530px;
	max-width: 100%;
	height: 190px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.section-third
{
	margin:0px;
	padding:0px;
	width:242px;
	min-height:400px;
	float:right;
}
.first-right-one
{
	margin:0px 0px 5px;
	padding:12px 7px 0px;
	width:223px;
	height:248px;
	border:#e5e5e5 2px solid;
	background:#f8f8f8;
}
.first-right-one h3
{
	margin:0px 0px 20px;
	padding:0px;
	font-size:14px;
	color:#fbab32;
}
.right-link
{
	margin:0px;
	padding:12px 0px 2px 18px;
	width:203px;
	height:25px;
	border:#e5e5e5 1px solid;
	border-bottom:0px;
	background:#ffffff;
	color:#696969;
}
.right-link-last
{
	margin:0px 0px 14px;
	padding:12px 0px 2px 18px;
	width:203px;
	height:25px;
	border:#e5e5e5 1px solid;
	background:#ffffff;
	color:#696969;
}
.radio
{
	margin:0px 10px 0px 0px;
	float: left;
}
.link1
{
	/*background:url(/assets/none.png) no-repeat left center;*/
	padding-left:25px;
	color:#696969;
}
.link1:hover
{
	/*background:url(/assets/selected.png) no-repeat left center;*/
	padding-left:25px;
	color:#696969;
}
.active
{
	/*background:url(/assets/selected.png) no-repeat left center;*/
	padding-left:25px;
	color:#696969;
}

.btn1
{
	margin:0px 0px 0px 0px;
	padding:0px 23px 0px;
	color:#ffffff;
	font-family:'andlso';
	font-size:15px;
	background:url(/assets/logout-bg.jpg) repeat-x 0px 3px;
	-webkit-box-shadow: 0px 3px 5px 0px #dadada;
	-moz-box-shadow: 0px 3px 5px 0px #dadada;
	box-shadow: 0px 3px 5px 0px #dadada;
	border:0px;
	transition:0.3s ease all;	
}
.btn1:hover
{
	background:url(/assets/logout-bg1.jpg) repeat-x 0px 3px;
	color:#696969;
}
.first-right-second
{
	margin:0px 0px 0px;
	padding:0px;
	width:237px;
	height:229px;
	border:#e5e5e5 2px solid;
}

#footer-area
{
	margin:3px 0px 0px;
	padding:5px 0px 20px;
	border-top:#fbb243 2px solid;
	width:1024px;
	font-size:13px;
}
.copy
{
	float:left;
	color:#696969;
}
.design
{
	float:right;
	color:#696969;
}
.design a
{color:#696969;}
.design a:hover
{
	color:#f59910;
}



/*End home page 30.03.2015*/

.page-link
{
	margin:5px 0px 10px !important;
	padding:0px;
	height:20px;
}
.page-link ul
{
	margin:0px;
	padding:0px;
}
.page-link ul li
{
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
	color:#696969;
}
.page-link ul li span
{
	color:#696969;
}
.page-link ul li a
{
	margin:0px;
	padding:0px;
	color:#fbaf3d;
}
.page-link ul li a:hover
{
	margin:0px;
	padding:0px;
	color:#696969;
}
.page-link ul li a.selected
{
	margin:0px;
	padding:0px;
	color:#696969;
}

.min-box
{
	margin:0px auto;
	padding:0px;
	width:800px;
	min-height:380px;
}
.max-box
{
	margin:0px;
	padding:0px;
	width:1022px;
	min-height:300px;
}
.login-box
{
	margin:0px;
	padding:10px;
	width:350px;
	height:230px;
	float:left;
}
.log-head
{
	margin:0px 0px 20px;
	padding:0px 0px 5px 0px;
	color:#696969;
	font-family:andlso;
	font-size:24px;
	background:url(/assets/log-head.png) repeat-x bottom;
}
.log-head2
{
	margin:0px 0px 10px;
	padding:0px 0px 5px 0px;
	color:#696969;
	font-family:andlso;
	font-size:24px;
	background:url(/assets/log-head.png) repeat-x bottom;
}
.login-field-box
{
	margin:10px 0px 0px;
	padding:0px;
	width:350px;
	font-family:corbel;
}
.login-field-box2
{
	margin:25px 0px 0px;
	padding:0px;
	width:350px;
}
.login-field-box3
{
	margin:0px 0px 15px !important;
	padding:0px;
	width:270px;
	font-family:corbel;
	min-height:25px;
}
.login-field-box4
{
	margin:10px 0px 0px;
	padding:0px;
	width:740px;
	font-family:corbel;
}
.register-box
{
	margin:0px;
	padding:10px;
	width:350px;
	height:230px;
	float:right;
}
/*.text-box1
{
	margin:0px;
	padding:0px;
	width:100px;
	float:left;
	line-height:30px;
	color:#fbaf3d;
	font-weight:bold;
}*/
.text-box1
{
	margin:0px;
	padding:0px;
	width:150px;
	float:left;
	line-height:30px;
	color:#fbaf3d;
	font-weight:bold;
}
.text-box2
{
	margin:0px;
	padding:0px;
	width:250px;
	float:left;
	line-height:30px;
	color:#696969;
	font-weight:bold;
}
.text-box3
{
	margin:0px;
	padding:0px;
	width:125px;
	float:left;
	line-height:30px;
	color:#fbaf3d;
	font-weight:bold;
}

/*.field1
{
	margin:0px;
	padding:2px 5px;
	width:240px;
	height:25px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:14px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}*/
.field11
{
	margin:0px;
	padding:2px 5px;
	width:190px;
	height:29px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:13px;
	width:200px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}

.field12
{
	margin:0px;
	padding:2px 5px;
	width:190px;
	height:29px;
	float:unset;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:13px;
	width:50px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}

.field1
{
	margin:0px;
	padding:2px 5px;
	width:190px;
	height:25px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:13px;
	color: #696969;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}

.field3
{
	margin:0px 0px 0px 0px;
	padding:2px 5px;
	width:130px;
	height:25px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:13px;
	color: #696969;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}
.field4
{
	margin:0px;
	padding:2px 5px;
	width:580px;
	height:25px;
	float:right;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:14px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}
.text-area4
{
	margin:0px 0px 5px;
	padding:5px 5px 0px;
	width:580px;
	height:70px;
	float:right;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:14px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}
.auto-field3
{
	margin:0px;
	padding:7px 5px 0px;
	width:130px;
	height:22px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:14px;
	color:#696969;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
}

.select1
{
	margin:0px;
	padding:2px 5px;
	width:200px;
	height:28px;
	float:left;
	border:#dddcdc 0px solid;
	background:#e6e6e6;
	font-family:corbel;
	font-size:14px;
	-webkit-box-shadow: 0px 4px 2px -1px #dadada;
	-moz-box-shadow: 0px 4px 2px -1px #dadada;
	box-shadow: 0px 4px 2px -1px #dadada;
	font-family: Cursive;
}
	

.btn2
{
	margin:0px 0px 0px 0px;
	padding:0px 23px 0px;
	color:#ffffff;
	font-family:'andlso';
	font-size:15px;
	float:right;
	background:url(/assets/logout-bg2.jpg) repeat-x 0px 0px;
	-webkit-box-shadow: 0px 3px 5px 0px #dadada;
	-moz-box-shadow: 0px 3px 5px 0px #dadada;
	box-shadow: 0px 3px 5px 0px #dadada;
	transition:0.3s ease all;
	border:none;
	cursor:pointer;
}
.btn2:hover
{
	background:url(/assets/logout-bg2-h.jpg) repeat-x 0px 0px;
	color:#696969;
}

.join-form-box
{
	float:left;
}
.fr-bt
{
	margin-bottom:10px !important;
}
.form-box1
{
	margin:0px 40px 20px 0px;
	padding:0px;
	width:350px;
	min-height:250px;
	float:left;
}
.form-box2
{
	margin:0px 0px 20px;
	padding:0px;
	width:350px;
	min-height:250px;
	float:left;
}
.form-box3
{
	margin:0px 0px 20px;
	padding:0px;
	width:240px;
	min-height:300px;
	float:right;
}
.form-box3 p
{
	color:#696969;
	text-align:justify;
	padding-bottom:5px;
	line-height:21px;
}
.form-box4
{
	margin:0px 0px 20px 25px;
	padding:0px;
	width:280px;
	min-height:300px;
	float:left;
}
.form-box5
{
	margin:0px ;
	padding:0px;
	width:280px;
	min-height:300px;
	float:left;
}
.form-box6
{
	margin:0px 0px 20px 20px;
	padding:0px;
	width:140px;
	min-height:300px;
	float:right;
}
.reviews-box
{
	margin:0px auto 0px;
	padding:0px;
	width:774px;
	min-height:300px;
	float:right;
}
.review-center
{
	margin:0px auto !important;
	width:530px;
}
.up-photo
{
	margin:0px auto 20px;padding:0px;
	width:122px;
}
.check-one
{
	margin:0px 0px 20px;
	padding:0px;
	font-weight:bold;
	color:#FBAF3D;
}
.ch-box{float:left;margin:0px 10px 20px 0px;}
.captcha-box{margin:0px 0px 20px;padding:20px 0px 0px;width:100%;height:40px;border:#e5e5e5 1px solid;text-align:center;}
.captcha-box2{margin:0px 0px 20px;padding:20px 0px 0px;width:150px;height:40px;border:#e5e5e5 1px solid;text-align:center;}
.heading2
{
	margin:0px 0px 10px;
	padding:0px;
	font-size:24px;
	color:#faae3d;
	font-family:andlso;
}
.left-align{float:left;}
.cmp-section{margin:0px;padding:0px;width:100%;}
.cmp-head{font-size:26px;color:#fbaf3d;font-family:andalus;float:left;padding:0px;margin:32px 0px 0px 20px;}
.cmp-head span{color:#ff0000;}

.drp-select1{width:198px;color:#696969 !important;}
.drp-select2{width:139px;color:#696969 !important;}
.drp-select3{width:90px;color:#696969 !important;}





/*--------sachin-------------*/
.text-box12
{
	margin:0px;
	padding:0px;
	width:150px;
	float:left;
	line-height:30px;
	color:#fbaf3d;
	font-weight:bold;
	text-align:center;
}

#file_browse_wrapper {
    width: 93px;
    height: 30px;
    background: url(/assets/file_browse_normal.png) 0 0 no-repeat;
	border:none;
    overflow:hidden;
	
}
#file_browse_wrapper:hover {
    background: url(/assets/file_browse_hover.png) 0 0 no-repeat;

}


#file_browse{
    
    opacity:0.0;
   
}

/*--------sachin-------------*/



