@font-face {
    font-family:corbel;
    src: url(/assets/fonts/corbel.ttf);
}
@font-face {
    font-family:andlso;
    src: url(/assets/fonts/andalus.ttf);
}


*
{
	margin:0px;
	padding:0px;
}
ul,li
{
	list-style:none;
	border:0px;
}
a
{
	text-decoration:none;
}
img
{
	border:0px;
}

body
{
	margin:0px;
	padding:0px;
	font-family:'corbel';
	font-size:14px;
	background:#ffffff;
}
.clear
{
	clear:both;
}

#main-wrapper
{
	margin:0px auto;
	padding:0px;
	width:1024px;
}
#header-area
{
	margin:0px;
	padding:10px 0px 0px;
	width:1024px;
	height:101px;
}
#logo
{
	margin:0px;
	padding:0px;
	float:left;
	width:160px;
	height:85px;
}
#right-head
{
	margin:0px;
	padding:0px;
	float:right;
	width:280px;
	height:100px;
}
.join-us
{
	margin:0px 0px 0px;
	padding:0px;
	text-align:right;
	font-family:'andlso';
	color:#7b7b7b;
	font-size:17px;
}
.user-box
{
	margin:0px;
	padding:5px 0px 0px 0px;
	width:270px;
	float:right;
}
.user
{
	margin:0px 0px 0px 5px;
	padding:2px 0px 0px 23px;
	float:left;
	width:70px;
	color:#fbaf3d;
}
.logout
{
	margin:-1px 0px 0px 0px;
	padding:0px;
	float:left;
	width:90px;
}
.logout a
{
	margin:0px 0px 0px 0px;
	padding:0px 23px 0px;
	color:#ffffff;
	font-family:'andlso';
	font-size:15px;
	background:url(/assets/logout-bg.jpg) repeat-x;
	-webkit-box-shadow: 0px 3px 5px 0px #dadada;
	-moz-box-shadow: 0px 3px 5px 0px #dadada;
	box-shadow: 0px 3px 5px 0px #dadada;
}
.logout a:hover
{
	background:url(/assets/menu-hover.png) repeat-x 0px -10px;
	color:#696969;
}
.social
{
	margin:0px;
	padding:0px;
	float:right;
}
.social ul
{
	margin-top:-1px;
	padding:0px;
}
.social ul li
{
	margin:0px 0px 0px 4px;
	padding:0px;
	float:left;
}
.search-box
{
	margin:8px 0px 0px 0px;
	padding:0px;
	width:auto;
	float:right;
	height:25px;
}
.search-in
{
	margin:0px;
	padding:0px 0px 0px 7px;
	width:136px;
	height:22px;
	float:left;
	border:#d0d0d0 1px solid;
	font-family:'corbel';
	font-size:13px;
}
#response-menu
{
	margin:0px 0px 20px;
	padding:0px;
	width:100%;
	height:37px;
	/*background:url(/assets/menu_bg.png) repeat-x;*/
	
}
#content-area
{
	margin:0px;
	padding:0px;
	width:1024px;
	min-height:300px;
}

.section-one
{
	margin:0px;
	padding:0px;
	width:245px;
	min-height:400px;
	float:left;
}
.reports
{
	margin:0px 0px 5px;
	padding:0px;
	width:245px;
	min-height:200px;
}
.heading1
{
	padding:5px 0px 0px 10px;
	background:url(/assets/menu_bg.png) repeat-x;
	text-align:left;
	width:232px;
	height:32px;
	font-family:'andlso';
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
	text-shadow: 1px 1px 2px #898989;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}

.reports ul
{
	margin:0px 0px 8px;
	padding:0px 0px 0px 0px;
	width:242px;
	float:left;
}
.reports ul li
{
	margin:8px 0px 0px;
	padding:8px 0px 7px;
	width:100%;
	background:url(/assets/menu-hover.png) repeat-x;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.reports ul li:hover
{
	background:url(/assets/menu_bg.png) repeat-x;
}
.reports ul li.current
{
	background:url(/assets/menu_bg.png) repeat-x;
}
.reports ul li a
{
	margin:0px;
	padding:10px 10px 10px 10px;
	font-family:'andlso';
	font-size:14px;
	font-weight:bold;
	color:#696969;
}
.reports ul li a:hover
{
	color:#ffffff !important;
}
.reports ul li a.current
{
	color:#ffffff !important;
}


.reports2
{
	margin:8px 0px 0px;
	padding:8px 0px 7px 10px;
	width:232px;
	font-family:'andlso';
	font-size:14px;
	font-weight:bold;
	color:#696969;
	background:url(/assets/menu-hover.png) repeat-x;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.reports2:hover
{
	background:url(/assets/menu_bg.png) repeat-x;
	color:#ffffff;
}

.polls
{
	margin:8px 0px 0px;
	padding:0px;
	width:236px;
	height:230px;
	border:#e5e5e5 2px solid;
}
.section-two
{
	margin:0px;
	padding:0px;
	width:530px;
	min-height:400px;
	float:left;
}
.img-section
{
	margin:0px 0px 3px;
	padding:10px 40px;
	width:450px;
	height:242px;
}
.img-section ul
{
	margin:0px;
	padding:0px;
}
.img-section ul li
{
	margin:0px 110px 0px 0px;
	padding:0px;
	float:left;
}
.img-section ul li.last
{
	margin-right:0px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.img-section h1
{
	margin:0px 0px 0px;
	padding:0px;
	font-size:34px;
	color:#fbaf3d;
	font-family:'andlso';
	text-align:center;
	font-weight:normal;
}
.home-grid
{
	margin:0px;
	padding:0px 0px;
	width:530px;
	height:230px;
}
.grid-head-tbl
{
	margin:0px 0px 7px;
	padding:0px;
	background:url(/assets/table-bg.png) repeat-x;
	width:100%;
	height:auto;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
	box-shadow: 0px 4px 2px -1px #989898;
}
.grid-head-tbl td
{
	text-align:center;
	padding:0px 0px 0px;
	font-family:'andlso';
	font-size:16px;
	color:#ffffff;
}
.grid-tbl
{
	margin:0px 0px 7px;
	padding:0px;
	width:100%;
	height:auto;
	-webkit-box-shadow: 0px 4px 2px -1px #989898;
	-moz-box-shadow: 0px 4px 2px -1px #989898;
}
.grid-tbl td
{
	text-align:center;
	padding:0px 0px 0px;
	font-family:corbel;
	font-size:13px;
	color:#696969;
	border-bottom:#dadada 1px solid;
}
.comment-tbl
{
	margin:0px;
	padding:0px;
	margin-left:10px;
}
.comment-tbl td
{
	border:none;
	text-align:right !important;
}
.comment-tbl img
{
	margin:0px 10px 0px 20px;
	padding:0px;
	float:left;
}
.comment-tbl span
{
	font-size:9px;
	color:#fcc471;
}
.content{
	overflow: auto;
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 530px;
	max-width: 100%;
	height: 190px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.section-third
{
	margin:0px;
	padding:0px;
	width:242px;
	min-height:400px;
	float:right;
}
.first-right-one
{
	margin:0px 0px 5px;
	padding:12px 7px 0px;
	width:223px;
	height:243px;
	border:#e5e5e5 2px solid;
	background:#f8f8f8;
}
.first-right-one h3
{
	margin:0px 0px 20px;
	padding:0px;
	font-size:14px;
	color:#fbab32;
}
.right-link
{
	margin:0px;
	padding:13px 0px 3px 18px;
	width:203px;
	height:25px;
	border:#bcbcbc 1px solid;
	border-bottom:0px;
	background:#ffffff;
}
.right-link-last
{
	margin:0px 0px 10px;
	padding:13px 0px 3px 18px;
	width:203px;
	height:25px;
	border:#bcbcbc 1px solid;
	background:#ffffff;
}
.link1
{
	background:url(/assets/none.png) no-repeat left center;
	padding-left:25px;
	color:#696969;
}
.link1:hover
{
	background:url(/assets/selected.png) no-repeat left center;
	padding-left:25px;
	color:#696969;
}
.active
{
	background:url(/assets/selected.png) no-repeat left center;
	padding-left:25px;
	color:#696969;
}
.btn1
{
	margin:0px 0px 0px 0px;
	padding:2px 23px 2px;
	color:#ffffff;
	font-family:'corbel';
	font-size:13px;
	background:url(/assets/logout-bg.jpg) repeat-x;
	-webkit-box-shadow: 0px 3px 5px 0px #dadada;
	-moz-box-shadow: 0px 3px 5px 0px #dadada;
	box-shadow: 0px 3px 5px 0px #dadada;
}
.btn1:hover
{
	background:url(/assets/menu-hover.png) repeat-x 0px -15px;
	color:#696969;
}
.first-right-second
{
	margin:0px 0px 0px;
	padding:0px;
	width:237px;
	height:229px;
	border:#e5e5e5 2px solid;
}

#footer-area
{
	margin:3px 0px 0px;
	padding:5px 0px 20px;
	border-top:#fbb243 2px solid;
	width:1024px;
	font-size:12px;
}
.copy
{
	float:left;
	color:#696969;
}
.design
{
	float:right;
	color:#696969;
}
.design a
{color:#696969;}
.design a:hover
{
	color:#f59910;
}


/*End home page*/

.page-link
{
	margin:5px 0px 10px !important;
	padding:0px;
	height:20px;
}
.page-link ul
{
	margin:0px;
	padding:0px;
}
.page-link ul li
{
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
	color:#696969;
}
.page-link ul li span
{
	color:#696969;
}
.page-link ul li a
{
	margin:0px;
	padding:0px;
	color:#fbaf3d;
}
.page-link ul li a:hover
{
	margin:0px;
	padding:0px;
	color:#696969;
}
.page-link ul li a.selected
{
	margin:0px;
	padding:0px;
	color:#696969;
}

.min-box
{
	margin:0px auto;
	padding:0px;
	width:800px;
	min-height:250px;
}
.login-box
{
	margin:0px;
	padding:10px;
	width:350px;
	height:230px;
	float:left;
	background:#dadada;
}
.register-box
{
	margin:0px;
	padding:10px;
	width:350px;
	height:230px;
	float:right;
	background:#dadada;
}





@media (min-width: 720px) and (max-width: 990px)
{
#main-wrapper{margin:0px auto;padding:0px;width:700px;}
#header-area{padding:25px 0px 0px;width:700px;height:101px;}
#response-menu{width:700px;height:37px;margin-bottom:60px;}
#content-area{margin:0px;padding:0px;width:700px;min-height:300px;}
.section-one{margin:0px;padding:0px;width:700px;min-height:400px;float:left;}
.reports{margin:0px 0px 2px;padding:0px;width:700px;min-height:200px;}
.heading1{padding:5px 0px 0px 10px;	text-align:left;width:690px;height:32px;font-size:20px;color:#ffffff;}
.reports ul{margin:0px 0px 8px;padding:5px 0px 0px 0px;width:700px;float:left;}
.polls{margin:0px;padding:0px;width:696px;height:230px;border:#e5e5e5 2px solid;}
.section-two{margin:0px 0px 20px;padding:0px;width:700px;min-height:400px;float:left;}
.img-section{margin:0px 0px 3px;padding:10px 120px;width:460px;height:253px;}/*border:#dadada 1px solid;*/
.home-grid{margin:0px;padding:0px 0px;width:700px;height:230px;}
.content{overflow: auto;position: relative;padding: 0px;margin:0px;width:700px;max-width: 100%;height: 190px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.section-third{margin:0px;padding:0px;width:700px;min-height:400px;float:right;}
.first-right-one{margin:0px 0px 5px;padding:12px 7px 0px;width:676px;height:255px;border:#e5e5e5 2px solid;background:#f8f8f8;}
.right-link{margin:0px;padding:14px 0px 0px 18px;width:656px;height:30px;border:#bcbcbc 1px solid;border-bottom:0px;}
.right-link-last{margin:0px 0px 10px;padding:14px 0px 0px 18px;width:656px;height:30px;border:#bcbcbc 1px solid;}
.first-right-second{margin:0px 0px 0px;padding:0px;width:690px;height:229px;border:#e5e5e5 2px solid;}
#footer-area{margin:3px 0px 0px;padding:5px 0px 20px;border-top:#fbb243 2px solid;width:694px;}	

}
@media (min-width:480px) and (max-width:719px)
{
#main-wrapper{margin:0px auto;padding:0px;width:460px;}
#header-area{padding:25px 0px 0px;width:460px;height:101px;}
#response-menu{width:460px;height:auto;}
#content-area{margin:0px;padding:0px;width:460px;min-height:300px;}
}
@media (min-width:321px) and (max-width:479px)
{
#main-wrapper{margin:0px auto;padding:0px;width:300px;}
#header-area{padding:15px 0px 0px;width:300px;height:111px;}
#response-menu{width:300px;height:auto;}
#logo{margin:0px 0px 0px 70px;padding:0px;float:left;width:160px;height:85px;}
#right-head{margin:0px;	padding:0px;float:left;width:280px;height:100px;}
#content-area{margin:0px;padding:0px;width:300px;min-height:300px;}
}
@media (max-width:320px)
{

}

