<%content_for :left do%>
	<span class="span1">
	</span>
<%end%>
<span class="span8">
	<%=render :partial=>"form"%>
</span>
<%content_for :right do%>
	<span class="span3">
		<div class="sectionRightReview">
		  How to write a good review: <br>
		  <%= @page.description.html_safe rescue nil%>
		</div>
	</span>
<%end%>
